# virtualenv environment description for a useful jupyter
# environment on a Compute Canada cluster
#
# Create a virtualenv containing these packages with:
#
#    module load python/3.8.2
#    python3 -m virtualenv --no-download ~/venvs/jupyter
#    source ~/venvs/jupyter/bin/activate
#    python3 -m pip install -r requirements-graham-jupyter.txt

bottleneck
cmocean
jupyterlab
matplotlib
netCDF4
xarray
